option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 3


files:
  "/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/eb-docker/containers/eb-current-app/*.log",
                  "log_group_name": "/aws/elasticbeanstalk/application/docker-app",
                  "log_stream_name": "{instance_id}/application",
                  "timezone": "Asia/Seoul"
                },
                {
                  "file_path": "/var/log/docker",
                  "log_group_name": "/aws/elasticbeanstalk/application/docker-engine",
                  "log_stream_name": "{instance_id}/docker-engine",
                  "timezone": "Asia/Seoul"
                },
                {
                  "file_path": "/var/log/docker.log",
                  "log_group_name": "/aws/elasticbeanstalk/application/docker-engine",
                  "log_stream_name": "{instance_id}/docker",
                  "timezone": "Asia/Seoul"
                },
                {
                  "file_path": "/var/log/eb-engine.log",
                  "log_group_name": "/aws/elasticbeanstalk/application/eb-engine",
                  "log_stream_name": "{instance_id}/eb-engine",
                  "timezone": "Asia/Seoul"
                }
              ]
            }
          }
        }
      }

commands:
  01_stop_cloudwatch_agent:
    command: "/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:/opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json || true"
    ignoreErrors: true
